.timerBtn{
    width: 85px;
    height: 30px;
    border: 3px solid;
    border-radius: 12px;
    background-color: rgb(245, 198, 182);
    color: rgb(7, 7, 7);
    cursor: pointer;
    font-family: consolas, monospace;

}
#timeDisplay{
    font-size: 75px;
    color: rgb(132, 228, 245);
    font-family: consolas, monospace;

}
#timeContainer{
    text-align: center;
    border: 3px solid;
    border-radius: 25px;
    background-image: url(images/9a1f11839c9f9e902f09e8259805319a.gif);
    
}
.pouseBtn{
    width: 85px;
    height: 30px;
    border: 3px solid;
    border-radius: 12px;
    background-color: rgb(247, 194, 176);
    color: rgb(7, 7, 7);
    cursor: pointer;
    font-family: consolas, monospace;

}
.box{
    color: rgb(240, 195, 204);
    font-size: xx-large;

}


